<div class="auth-page">
  <div class="container">
    
      <div class="col-12 col-lg-7 col-xl-6">
        <h1 class="auth-title">Escoja el tipo de cuenta</h1>
        <button class="btn btn-block social-alternative-btn" (click)="redirectAccount()">
          Usuario clientes
        </button>
        <div class="auth-form-divider">
          <span class="divider-text">Ó</span>
        </div>
        <button class="btn btn-block social-alternative-btn" (click)="redirectAccount()">
          Usuario escort
        </button>
      </div>
    
  </div>
</div>
