<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="about-title">Acerca de Escorts app</h1>
      <h3>
        ¿Qué es escorts app?
      </h3>
      <p>
        Escorts app es una iniciativa creada por (Nombre de la empresa aquí) para ofrecer servicios de acompañamiento a personas que lo deseen y soliciten.
      </p>
      <h3>
        ¿En qué lugar nos encuentras?
      </h3>
      <p>
        Por el momento contamos con una agencia principal en Cuenca, Ecuador en asociación con agencias reconocidas a nivel nacional.
      </p>
      <p>
        Aquí otro párrafo de prueba
      </p>
      <h3>
        ¿Por qué escoger Escorts app?
      </h3>
      <p>
        No solo contamos con un servicio de acompañamiento discreto, seguro y de calidad; sino que además contamos con estrictas normas de manejo de personal con el profesionalismo que requiere el servicio. 
    </div>
  </div>
</div>
