<!--FORMULARIO PARA REGISTRO DE USUARIO NUEVO-->
<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="auth-form">
  <!--CAMPO NOMBRE-->
  <div class="form-group">
    <label [attr.for]="'name'" class="auth-form-label">NOMBRE</label>
    <input type="text" class="form-control auth-form-input" formControlName="name" [id]="'name'" placeholder="David Piedra">
  </div>
  <!--CAMPO NOMBRE DE USUARIO-->
  <div class="form-group">
    <label [attr.for]="'username'" class="auth-form-label">NOMBRE DE USUARIO</label>
    <input type="text" class="form-control auth-form-input" formControlName="username" [id]="'username'" placeholder="David666">
  </div>
  <!--CAMPO CORREO-->
  <div class="form-group">
    <label [attr.for]="'email'" class="auth-form-label">CORREO</label>
    <input type="email" class="form-control auth-form-input" formControlName="email" [id]="'email'" placeholder="davidpiedra@gmail.com">
  </div>
  <!--CAMPO PASSWORD-->
  <div class="form-group">
    <label [attr.for]="'password'" class="auth-form-label">CONTRASENA</label>
    <input type="password" class="form-control auth-form-input" formControlName="password" [id]="'password'" placeholder="&#10033; &#10033; &#10033; &#10033; &#10033;">
  </div>
  <!--CAMPO PAIS-->
  <div class="form-group">
    <label [attr.for]="'country'" class="auth-form-label">PAIS</label>
    <input type="text" class="form-control auth-form-input" formControlName="country" [id]="'country'" placeholder="Ecuador">
  </div>
  <!--CAMPO ESTADO-->
  <div class="form-group">
    <label [attr.for]="'estado'" class="auth-form-label">ESTADO</label>
    <input type="text" class="form-control auth-form-input" formControlName="estado" [id]="'estado'" placeholder="Activo">
  </div>
  <!--CAMPO FECHA DE NACIMIENTO-->
  <div class="form-group">
    <label [attr.for]="'fecha'" class="auth-form-label">FECHA DE NACIMIENTO</label>
    <input type="text" class="form-control auth-form-input" formControlName="fecha" [id]="'fecha'" placeholder="01/01/2001">
  </div>
  <!--CAMPOS DE NOTICIAS Y TÉRMINOS Y CONDICIONES-->
  <div class="custom-control custom-checkbox auth-form-checkbox">
    <input type="checkbox" formControlName="newsletter" class="custom-control-input" [id]="'newsletter'">
    <label class="custom-control-label auth-form-label" [attr.for]="'newsletter'">Quiero recibir noticias sobre esta página!</label>
  </div>
  <div class="custom-control custom-checkbox auth-form-checkbox">
    <input type="checkbox" formControlName="terms" class="custom-control-input" [id]="'terms'">
    <label class="custom-control-label auth-form-label" [attr.for]="'terms'">
      Acepto los
      <a class="auth-form-link terms-link" target="_blank" [routerLink]="['/terms']">
        Términos y Condiciones
      </a>
    </label>
  </div>
  <!--BOTON DE CREAR CUENTA-->
  <button type="submit" class="btn btn-block auth-form-submit-btn" [disabled]="!signupForm.valid">CREAR CUENTA</button>
</form>
